body {
    font-family: 'Roboto', sans-serif;
}
.banner-blu {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
}

.testo {
    padding-right: 100px;
    margin-top: 90px;
}

h1 {
    font-weight: 600;
    color: white;
    padding-top: 80px;
    font-size: 52px;
}

.testo p {
    font-size: 20px;
    color: #ccdaff;
    padding: 20px 0;
}

.jumbotron {
    background-color: white;
    margin-top: 90px;
}

.jumbotron p {
    color: blue;
}

.banner-grigio {
    background-color: #f3f5f9;
}

.banner-grigio .text-center {
    margin-top: 70px;
}

.banner-grigio h2 {
    font-size: 14px;
    color: #99a3b8;
}

.loghi img {
    height: 100px;
    object-fit: contain;
}



.linker a {
    color: #0794fc;
}

.linker {
    padding-top: 10px;
    margin-bottom: 50px;
}

.deploy {
    padding-top: 80px;
}

.deploy h2 {
    color: #031b4e;
    font-size: 36px;
}

.deploy .titolo p {
    color: #696285;
    font-size: 20px;
}

.deploy .barra-laterale {

    padding-top: 30px;
}

.deploy ul {
    list-style: none;
}

.deploy li {
    font-size: 20px;
    padding-top: 10px;
    color: #818da6;
    border-left: 1px solid #e5e8ed;
    padding-left: 20px;

}

.deploy li:hover {
    cursor: pointer;
    color: #221b4e;
    border-left: 1px solid #0069ff;
}

.deploy .ciao {
    padding-top: 30px;
    margin-bottom: 50px;
}

.deploy i {
    color: #0069ff;
    font-size: 20px;
}

.deploy .ciao h3 {
    color: #221b4e;
}

.deploy .ciao p {
    color: #59628a;
}

.banner-grigio-secondo {
    background-color: #f3f5f9;
}

.banner-grigio-secondo h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 80px;
    color: #031b4e;
}

.banner-grigio-secondo p {
    font-size: 20px;
    color: #4e5f93;
    padding-bottom: 30px;
}

.banner-grigio-secondo .immagine-demo img {
    border-radius: 5px;
    padding-bottom: 30px;
}

.banner-grigio-secondo .immagine-demo img:hover {
    cursor: grab;
}

.banner-grigio-secondo li {
    color: #0069ff;
}

.banner-grigio-secondo li:hover {
    cursor: pointer;
}
