.banner-blu {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
}

.testo {
    padding-right: 100px;
}

h1 {
    font-weight: 600;
    color: white;
    padding-top: 80px;
    font-size: 52px;
}

.testo p {
    font-size: 20px;
    color: #ccdaff;
    padding: 20px 0;
}

.jumbotron {
    background-color: white;
}

.jumbotron p {
    color: blue;
}

.loghi img {
    height: 100px;
}

.linker a {
    color: #0794fc;
}
